.alert a {
    text-decoration: underline;
    font-weight: 400;
}

.alert-success a {
    color: @alert-success-text;
}
.alert-info a {
    color: @alert-info-text;
}
.alert-warning a {
    color: @alert-warning-text;
}
.alert-danger a {
    color: @alert-danger-text;
}

.kbc-main > .alert,
.kbc-main > div > .alert {
    margin: 20px;
}

.alert-block {
  min-height: 140px;
  padding: 30px;
  margin: 10px 0;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  background-repeat: no-repeat;
  color: #7C8498;

  &:first-of-type {
    margin-top: 0
  }

  &-body {
    width: ~"calc(100% - 86px)";
  }

  &-title {
    margin: 0 0 24px 0;
    font-size: 18px;
    font-weight: bold;
  }

  a {
    color: #7C8498;
    &:hover {
      color: #282D38;
    }
  }

  ul {
    padding-left: 32px;
    li {
      line-height: 1.5;
      margin-bottom: 8px;
    }
    & .list-unstyled {
      li {
        line-height: 2;
        margin-bottom: 0;
      }
    }
    &.list-no-padding {
      padding-left: 0;
    }
  }

  &.alert-warning {
    background-color: #FFF6DC;
    border-color: #FFD452;

    background-image: url('../img/ic_error.svg');
    background-position: calc(~"100% - 30px") 30px;
    background-size: 75px 75px;

    .alert-block-title, h4 {
      color: #FF9D52;
    }
  }

  &.alert-danger {
    background-color: #FEEDEF;
    border-color: #F74D63;

    background-image: url('../img/ic_warning.svg');
    background-position: calc(~"100% - 27px") 28px;
    background-size: 84px 84px;

    .alert-block-title, h4 {
      color: #f74d63;
    }
  }
}
