.alert a {
    text-decoration: underline;
    font-weight: 400;
}

.alert-success a {
    color: @alert-success-text;
}
.alert-info a {
    color: @alert-info-text;
}
.alert-warning a {
    color: @alert-warning-text;
}
.alert-danger a {
    color: @alert-danger-text;
}

.kbc-main > .alert,
.kbc-main > div > .alert {
    margin: 20px;
}

.alert-block {
  position: relative;
  min-height: 140px;
  padding: 30px;
  margin: 10px 0;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  color: #7C8498;

  &:first-of-type {
    margin-top: 0
  }

  &-body {
    width: ~"calc(100% - 96px)";
  }

  &-title {
    margin: 0 0 24px 0;
    font-size: 18px;
    font-weight: bold;
  }

  &-icon {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 84px;
    height: auto;
  }

  a {
    color: #7C8498;
    &:hover {
      color: #282D38;
    }
  }

  h4{
    margin-bottom: 8px;
  }

  p{
    margin: 0 0 20px 0;
  }

  ul {
    li {
      line-height: 1.5;
      margin-bottom: 8px;
    }
    &.list-no-padding {
      padding-left: 0;
    }
  }

  .fa-exclamation-triangle {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 6em;
  }

  &.alert-warning {
    background-color: #FFF6DC;
    border-color: #FFD452;

    .alert-block-icon,
    .fa-exclamation-triangle {
      color: #FFD452;
    }

    .alert-block-title, h4 {
      color: #FF9D52;
    }
  }

  &.alert-danger {
    background-color: #FEEDEF;
    border-color: #F74D63;

    .alert-block-icon,
    .fa-exclamation-triangle {
      color: #f74d63;
    }

    .alert-block-title, h4 {
      color: #f74d63;
    }
  }
}
