.btn-link {
  color: @text-color;
}

.btn-link-inline {
  padding: 0;
  border: none;
  color: @link-hover-color;
  display: inline;
  vertical-align: inherit;
  text-align: start;
  white-space: normal;

  &:hover {
    text-decoration: underline;
  }
}