/*
 * Buttons
 */
button {
    background-color: @kbc-grey-bg;
    color: @kbc-btn-default-color;
}
.btn:not(.btn-default) {
    border: none;
}
.btn-lg, .btn-group-lg>.btn {
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 3px;
}
.btn-sm, .btn-group-sm>.btn {
    padding: 5px 10px;
    font-size: .8em;
}
.btn-xs, .btn-group-xs>.btn {
    padding: 2px 5px;
    font-size: .7em;
}
.kbc-btn-icon > [class^="kbc-icon-"] {
    margin-left: -6px;
    font-size: 1.5em;
    line-height: .7em;
    position: relative;
    top: 2px;
}
.kbc-btn-icon.btn-lg {
    padding-top: 9px;
}
.kbc-btn-icon.btn-lg > [class^="kbc-icon-"] {
    margin-left: -6px;
    top: 3px;
}
.kbc-btn-icon.btn-xs > [class^="kbc-icon-"] {
    margin-left: -2px;
}

.btn-link {
    color: @gray;
}
.kbc-btn-link-icon {
    &:extend(.btn-link);
    &:hover,
    &:focus {
        color: @link-hover-color;
        box-shadow: none;
    }
}

.btn {
    &-edit {
        .btn-primary();
        &:hover i {
            animation: wrench 2.5s ease infinite;
            transform-origin-x: 90%;
            transform-origin-y: 90%;
            transform-origin-z: initial
        }
    }
}

// NEW BUTTON OVERRIDES

.btn {
    padding: 8px 12px;
    font-family: "Gotham Rounded A", "Gotham Rounded B";
    border-radius: 3px;
    border: 0 !important;

    display: flex;
    flex-flow: row;
    align-items: center;

    .icon-svg {
        width: 20px;
        height: 20px;
        color: #fff;

        margin: 0;
        line-height: 0;
        + .btn-label {
            margin-left: 8px;
        }
    }

    &-success {
        background-color: #98CF3C;
        &:hover {
            background-color: darken(#98CF3C, 8%);
        }
        &:active,
        &.active {
            background-color: darken(#98CF3C, 16%) !important;
        }
        &:focus {
            background-color: #98CF3C;
        }
    }

    &-primary {
        background-color: #25B8EB;
        &:hover {
            background-color: darken(#25B8EB, 8%);
        }
        &:active,
        &.active {
            background-color: darken(#25B8EB, 16%) !important;
        }
        &:focus {
            background-color: #25B8EB;
        }
    }

    &-danger {
        background-color: #EF1E2D;
        &:hover {
            background-color: darken(#EF1E2D, 8%);
        }
        &:active,
        &.active {
            background-color: darken(#EF1E2D, 16%) !important;
        }
        &:focus {
            background-color: #EF1E2D;
        }
    }

    &-link {
        &:hover {
            color: #25B8EB;
            text-decoration: underline;
        }
        &:active,
        &.active {
            color: #25B8EB;
            text-decoration: underline;
        }
        &:focus {
            color:#25B8EB;
        }
    }

    &:active,
    &.active {
        box-shadow: none;
    }

    &:focus,
    &:active:focus,
    &.active:focus,
    &.focus,
    &:active.focus,
    &.active.focus {
        box-shadow: 0 0 2px 2px #25B8EB;
        border: 1px solid #227CA7
    }

    &.disabled,
    &[disabled] {
        color: #BDC1CB !important;
        background-color: #EAEBED !important;

        &.btn-link{
            background-color: #fff !important;
        }

        &:hover {
            background-color: #EAEBED;
        }
    }
}


