
.kb-sapi-component-icon {
    padding-right: 10px;
}

.kbc-components-list {
    .table {
        border-bottom: solid 1px @table-border-color;
        margin-bottom: 0;
        > .tbody > .tr > .td {
            small {
                color: @kbc-grey-2;
            }
            &.kbc-component-buttons {
                .kbc-component-author {
                    font-size: 90%;
                    padding-right: 30px;
                    position: relative;
                    top: 2px;
                }
                font-size: 90%;
                color: @kbc-grey-2;
            }
        }
    }
}

.components-overview {
    &-grid {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &-item {
        width: 33.3%;

        text-align: center;
        position: relative;

        padding: 40px 30px 30px;

        border-right: solid 1px @table-border-color;
        border-bottom: 1px solid #e8e8ef;

        text-decoration: none;
        transition: .08s all ease-out;

        &:nth-child(3n) {
            border-right: solid 1px transparent;
        }

        &:hover {
            background: #c8edfa;
            box-shadow: inset 0px 0px 0px 2px #25b8eb;
            text-decoration: none;
        }
    }

    &-title {
        text-decoration: underline;
    }

    &-description {
        color: #282d38;
    }

    &-icon {
        padding-right: 0;
    }
}

