@color-checked: @brand-primary;
@color-unchecked: @kbc-grey-2;

.time-label{
  cursor: help
}

.checkbox,
.checkbox-inline,
.radio,
.radio-inline {
  padding: 0 4px;
  input {
    visibility: hidden;
    &:before {
      cursor: pointer;
      visibility: visible;
      font-family: "FontAwesome";
      font-size: 20px;
      position: relative;
      top: -4px;
      left: -4px;
    }
  }
  label {
    font-weight: 300;
  }
}

.checkbox,
.checkbox-inline {
  input:before {
    content: "\f096";
    color: @color-unchecked;
  }

  input:checked:before {
    content: "\f046";
    color: @color-checked;
  }
  input:not(:disabled):hover:before {

    content: "\f046";
  }

  input:disabled:before {
    content: "\f096";
    cursor: not-allowed;
  }
}

.checkbox-inline,
.radio-inline {
  padding-left: 20px;
}

.radio,
.radio-inline {
  input:before {
    content: "\f10c";
    color: @color-unchecked;
  }

  input:checked:before {
    content: "\f192";
    color: @color-checked;
  }

  input:not(:disabled):hover:before {
    content: "\f192";
  }

  input:disabled:before {
    content: "\f05c ";
    cursor: not-allowed;
  }
}



.checkbox,
.checkbox-inline,
.radio,
.radio-inline {
  input {
    animation: shrink 0.3s ease-out;
  }

  input:checked {
    animation: burst 0.2s ease-out
  }
}


pre.CodeMirror-placeholder {
  color: #717e9a;
}

.label-canceled {
  background-color: #000;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


svg.kb-graph {
  margin-top: 10px;
}

svg.kb-graph  {
  cursor: move;
}

.kb-graph .node {
  cursor: pointer;
}

.kb-graph .node rect {
  stroke-width: 0px;
  stroke: #333;
  fill: #fff;
}

.kb-graph .node text {
  background-color: #999999;
}

.kb-graph .node text,
.kb-graph .node a {
  display: inline-block;
  padding: 2px 4px;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  fill: white;
}


.kb-graph .controls {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.kb-graph .graph-options select.form-control {
  width: auto;
  display: inline;
}

#svgDownload {
  visibility: hidden;
}

#canvasDownload {
  display: none;
}


.kbc-protected {
  cursor: pointer;
}

.kbc-main-content .vertical-center {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.kbc-main-content {
  .stripe-odd {
    background-color: #f9f9f9
  }
  .stripe-query-has-comment {
    background-color: rgba(255, 0, 0, .15);
  }
}

.kbc-main-content .cm-s-solarized.CodeMirror {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.kbc-main-content .CodeMirror {
  height: auto;
  background: none;
  .CodeMirror-cursors {

  }
}

.kbc-main-content .edit .CodeMirror {
  min-height: 100px;
}

.kbc-main-content .static .CodeMirror-cursor {
  display: none;
}

.kbc-main-content .edit .CodeMirror .CodeMirror-scroll {
  min-height: 100px;
}



.kbc-main-content .query-number .btn.query-edit {
  display: none;
}

.kbc-main-content .row:hover .query-number .btn.query-edit {
  display: inline;
}

.kbc-main-content .query-number .query-number-value:before {
  content: attr(data-query-number);
}

.kbc-overview {

  h2 {
    color: #0199f1;
  }

  > .tbody > .tr > .td {
    text-align: left;
  }

}

.kbcNotificationTransition-enter {
  opacity: 0.01;
}

.kbcNotificationTransition-enter.kbcNotificationTransition-enter-active {
  opacity: 1;
  transition: opacity .3s ease-in;
}

.kbcNotificationTransition-leave {
  opacity: 1;
}

.kbcNotificationTransition-leave.kbcNotificationTransition-leave-active {
  opacity: 0.01;
  transition: opacity .3s ease-in;
}

.form-group.no-bottom-margin {
  margin-bottom: 0px;
}

.help-block.bottom-margin {
  margin-bottom: 15px;
}

a .kbcComponentIcon-3rdParty-32px {
  position: relative;
  margin-left: -16px;
  left: 5px;
  top: -11px;
  font-size: 14px;
  color: #282d38;
}

a .kbcComponentIcon-3rdParty-64px {
  position: relative;
  margin-left: -22px;
  left: 10px;
  top: -29px;
  font-size: 21px;
  color: #282d38;
}

.pull-left a .kbcComponentIcon-3rdParty-32px {
  position: relative;
  left: 37px;
  top: -38px;
  font-size: 14px;
  color: #282d38;
}

.kbcLicenseIcon {
  font-size: 14px;
  margin-right: 7px;
}

.kbcLicenseTable td {
  padding-bottom: 5px;
}

.kb-sapi-component-icon small.thirdPartyLabel {
}

.kb-sapi-component-icon small.thirdPartyLabel span {
}


.kb-orchestrator-task-drag{
  padding: 0 !important;
}

.kbcVersionsButton {
  margin-right: 10px;

}

.kbc-label-rounded.kbc-label-block {
  display: inline-block;
  white-space: normal;
}

.bubble-loader {
  margin: 0 auto;
  width: 80px;
  p {
    text-align: center;
    font-family: "Gotham Rounded A", "Gotham Rounded B";
    color: #25b8eb;
    display: inline-block;
    width: 100%;
    font-size: 18px;
  }
}

.collapsible{
  margin: 0;
  h1,h2,h3,h4,h5,h6{
    margin: 0;
  }
  h3{
    padding: 5px;
  }
  h4{
    padding: 10px;
  }
  .panel > .panel-heading > .panel-title > a {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
  }

  .panel-heading-additional {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;

    .btn{
      display: inline-block;
    }
  }

  .panel> .panel-heading > .panel-title > a{
    padding: 16px;
  }
  .panel-sm > .panel-heading > .panel-title > a{
    padding: 4px;
  }

  .label{
    line-height: 2.5;
  }
}





.row > :first-child {
  margin-top: 0;
}

.kbc-sapi-table-link {
  color: @link-color;
  cursor: pointer;
  &:hover {
    color: @link-hover-color;
    text-decoration: none;
  }
}

.kbc-detail-table {
  border-bottom: solid 1px @table-border-color;
  margin-bottom: 22px;
  width: 100%;
  .row {
    margin: 15px;
  }
  .td {
    vertical-align: top !important;
    width: 50%;
    padding: 15px 15px !important;
    .form-group {
      margin-bottom: 15px;
    }
  }
  strong {
    font-weight: 400;
  }
}

.kbc-layout-table {
  > .tbody {
    > .tr {
      width: auto;
      border-bottom: 1px solid @table-border-color;
      .td {
        border-top: none;
        padding: 40px 30px 30px;
      }
    }
  }
}

.kbc-overview {
  > .tbody > .tr > .td {
    width: 25%;
    text-align: center;
    vertical-align: top;
  }
}

.kbc-tasks-list {
  > tbody >tr > td {
    padding: 0;
    a {
      display: block;
      color: black;
      padding: 10px 0;
      &:hover {
        text-decoration: none;
      }

      .kbc-icon-arrow-right {
        line-height: 32px;
      }
    }
  }
}

.kbc-user-avatar {
  border-radius: 50%;
}

@media (min-width: 1030px) {
  .kbc-navbar .kbc-logo,
  .kbc-sidebar {
    width: 260px;
  }
  .kbc-main-header-container,
  .kbc-main {

    margin-left: 260px;
  }
}







.kbc-header.kbc-expiration,
.kbc-header.kbc-limits{
  padding: 30px;
}

.kbc-overview-component .kbc-header{
  margin-bottom: 10px;
}


.kbc-expiration {
  background-color: #FFF6DC;
  background-image: url('media/ic_error.svg');
  background-position: calc(~"100% - 30px") 30px;
  background-size: 75px 75px;
  background-repeat: no-repeat;

  border: 2px solid #FFD452;

  margin: 5px 0;

  border-radius: 5px;


  h3 {
    margin: 0 0 24px 0;
    font-size: 18px;
    color: #FF9D52;
    font-weight: bold;
  }

  h4{
    color: #FF9D52;
    font-size: 14px;
    margin-top: 18px;
  }

  ul {
    margin-bottom: 10px;
    list-style-type:none;
    padding-left: 32px;
    padding-top: 4px;
  }

  li{
    line-height: 2;
  }

  .alert {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    min-height: 77px;
    color:#7C8498;
  }

  a{
    color:#7C8498;
    &:hover{
      color: #282D38;
    }
  }


}

.kbc-extractor-icon,
.kbc-writer-icon{
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-bottom: -6px;
  margin-right: 8px;
}

.kbc-extractor-icon{
  background-image: url('media/extractor.svg');
  background-position: 0 -1px;
  background-repeat: no-repeat;
}

.kbc-writer-icon{
  background-image: url('media/writer.svg');
  background-repeat: no-repeat;
}

.kbc-deprecation{
  h3{
    margin-bottom: 12px;
  }
}


.kbc-limits {
  background-color: #FEEDEF;
  border: 2px solid #F74D63;
  background-image: url('../icons/symbol/svg/sprite.symbol.svg#warning');
  background-position: calc(~"100% - 27px") 28px;
  background-size: 84px 84px;
  background-repeat: no-repeat;
  margin: 5px 0;
  border-radius: 5px;

  h3 {
    margin: 0 0 20px 0;
    font-size: 18px;
    color: #f74d63;
    font-weight: bold;
  }

  ul {
    li {
      line-height: 2;
    }
  }

  .alert {
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: 0;
    color:#7C8498;
    min-height: 77px;
  }

  a {
    color:#7C8498;
    &:hover{
      color: #282D38;
    }
  }
}


.migration-row {
  padding: 30px;
  border: 2px solid #FFD452;
  background-color: #FFF6DC;
  margin-bottom: 10px;
  border-radius: 5px;

  .alert {
    background-image: url('../scripts/modules/home/react/media/ic_error.svg');
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 75px 75px;
    border: none;
    padding: 0;
    margin: 0;
  }

  h3 {
    color: #FF9D52;
    font-size: 18px;
    line-height: 23px;
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: bold;
  }

  &-content{
    margin-bottom: 30px;
    width: 80%;
    color: #282d38;
  }
}