.icon-clickable {
  cursor: pointer;
}

.icon-moveable {
  cursor: move;
}

.icon-not-alowed {
  cursor: not-allowed
}

.icon-addon-right {
  margin-right: 10px;
}

.icon-addon-left {
  margin-left: 10px;
}