.kbc-refresh {
    color: @link-color;
    font-weight: 500;
    cursor: pointer;
}

.kbc-status-icon {
    margin-right: 5px;
}

table .kbc-component-icon {
    .kb-sapi-component-icon {
        padding-right: 0;
    }
    padding-right: 10px;
    vertical-align: middle;
}

.kbc-notification-icon {
  position: relative;

  &:hover {
      color: @link-hover-color;
      text-decoration: none;
  }

  .kbc-notification-icon-badge {
    z-index: 1;
    position: absolute;
    width: 9px;
    height: 9px;
    top: 0px;
    right: 0px;

    .kbc-notification-icon-badge-inner {
      background-color: #FF515E;
      border: 1px solid #2f3540;
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
}

.kbc-version-icon {
  color: #7e8490;
  width: 16px;
}

.kbc-version-icon.last {
  color: #96d130;
}

//NEW SVG ICONS
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
}

.icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  color: #7C8498;
}

.icon-size-16 {
  width: 16px;
  height: auto;
}

.icon-size-20 {
  width: 20px;
  height: auto;
}