@import 'indigo';

//STORYBOOK SPECIFIC INSIDE RENDER CANVAS
//IF YOU WANT TO USE STORYBOOK STYLES FOR BASIC APP LAYOUT .storybook\manager-head.html
body {
  padding: 0 30px 30px;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Gotham Rounded A", "Gotham Rounded B";   //IMPORTED IN preview-head.html
}

#root > div > div:nth-child(2) {
  padding: 16px 0;
}

@CIDcolor1: #fff;
@CIDcolor2: @gray-base;
@CIDcolor3: #0199F1;
@CIDcolor4: #6b6b6b;
@CIDcolor5: #000;

.palette {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 60px;
  &-color {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  &-color-1 {
    background: @CIDcolor1;

  }
  &-color-2 {
    background: @CIDcolor2;
    color: #fff;
  }
  &-color-3 {
    background: @CIDcolor3;
    color: #fff;
  }
  &-color-4 {
    background: @CIDcolor4;
    color: #fff;
  }
  &-color-5 {
    background: @CIDcolor5;
    color: #fff;
  }
}

.logo{
  padding: 10px;
  margin: 10px;
  &-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 60px;

  }
  &-color-1 {
    background: @CIDcolor5;
    path {
      fill: @CIDcolor1;
    }
  }
  &-color-2 path{
    fill: @CIDcolor2;
  }
  &-color-3 path{
    fill: @CIDcolor3;
  }
  &-color-4 path{
    fill: @CIDcolor4;
  }
  &-color-5 path{
    fill: @CIDcolor5;
  }
}