.modal-dialog {
    text-align: left !important;
}
.modal-title {
    font-size: 18px;
}

.modal-dialog .modal-footer .btn-toolbar > .btn {
  float: none;
}

@media (min-width: 768px) {
  .kbc-authorization-modal .modal-dialog {
    width: 635px;
  }
}