.kbc-main-content .nav-tabs {
    padding: 15px 25px 0;
}
.nav-tabs {
    > li {
        &.active > a {
            font-weight: 400;
        }
        > a {
            color: #98a2b5;
            &:hover {
                color: @link-color;
            }
        }
    }
}

.nav > li {
    > a {
        padding: 10px 25px;
    }
    > .btn {
        padding: 10px 15px;
        text-align: left;
        display: block;
        color: @link-color;
        font-weight: 300;
        &:hover {
            background: #fff;
            text-decoration: none;
        }
    }
}
