@import (inline) '@{libsPath}react-select/dist/react-select.css';

.Select {
  // Use flexbox because "display: table" can not handle half pixels correctly
  .Select-control {
    display: flex;
    align-items: center;

    & > .Select-multi-value-wrapper {
      flex: 1 1 0%;
    }

    & > .Select-arrow-zone {
      display: inline-block;
    }
  }

  // due to codemirror
  .Select-menu-outer {
    z-index: 5;
  }

  .Select-input {
    display: inline !important;

    > input {
      padding: 8px 0 10px;
    }
  }

  .Select-option {
    word-wrap: break-word;
  }
}
