.searchbar {
  display: flex;
  flex-flow: row;
  align-items: center;
  position: relative;

  &-input {
    padding-left: 32px;
    width: auto;
    flex-grow: 999;
  }

  &-actions {
    flex-grow: 1;
    margin-left: 8px;
  }

  &-icon {
    position: absolute;
    left: 10px;
    color: @kbc-grey-3;
  }
}

.kbc-search-row {
    padding: 20px 30px !important;

    > input {
        border: none;
        box-shadow: none;
        font-weight: 300;
        font-size: 16px;
        padding: 0 0 0 30px;
    }
    > .kbc-icon-search {
        top: 35% !important;
        left: auto !important;
    }
}
.kbc-search {
    position: relative;
    padding: 10px 0;

    > .kbc-icon-search {
        position: absolute;
        top: 17px;
        left: 10px;
        color: @kbc-grey-3;
        font-size: 22px
    }
    > input {
        font-weight: 300;
        padding: 0 0 0 40px;
    }
}
