.searchbar {
  display: flex;
  flex-flow: column;
  position: relative;

  &-row {
    display: flex;
    flex-flow: row;
  }

  &-form {
    display: flex;
    flex: 1;
    align-items: center;

    &-icon {
      position: absolute;
      left: 10px;
      color: @kbc-grey-3;
    }
  }

  &-input {
    padding-left: 34px;
    font-size: 16px;
    width: 100%;
  }

  &-actions {
    & > * {
      margin-left: 8px;
    }
  }

  &-recommended-link {
    &-list {
      margin: 8px 0 0;
    }
    &-icon {
      color: #15c3ff;
    }
  }

  &-inverse {
    .searchbar-icon {
      color: #7f8188;
    }

    .searchbar-input {
      background: #292d38;
      color: #FFFFFF;
      border-color: #252933;
      font-size: 14px;
      box-shadow: @box-shadow-dark;
      padding-bottom: 12px;
    }
  }
}