.searchbar {
  display: flex;
  flex-flow: row wrap;
  position: relative;

  &-form {
    flex: 1 0px;
    display: flex;
    align-items: center;
  }

  &-input {
    padding-left: 34px;
    font-size: 16px;
  }

  &-actions {
    flex: 0 auto;
    & > * {
      margin-left: 8px;
    }
  }

  &-icon {
    position: absolute;
    left: 10px;
    color: @kbc-grey-3;
  }

  &-recommended-link {
    white-space: nowrap;
    &-list {
      flex: 1 100%;
      margin: 8px 0 0;
    }
    &-icon {
      color: #15c3ff;
    }
  }

  &-inverse {
    .searchbar-icon {
      color: #7f8188;
    }

    .searchbar-input {
      background: #292d38;
      color: #FFFFFF;
      border-color: #252933;
      font-size: 14px;
      box-shadow: @box-shadow-dark;
      padding-bottom: 12px;
    }
  }
}