.svg-common() {
	background: url("../icon-sprite/spriteeeeeee-da025929.svg") no-repeat;
}

.icon-aplications {
	.svg-common();
	background-position: 80% 48%;
}

.icon-aplications-dims {
	width: 32px;
	height: 32px;
}

.icon-arrow-down {
	.svg-common();
	background-position: 80% 52%;
}

.icon-arrow-down-dims {
	width: 32px;
	height: 32px;
}

.icon-arrow-vertical {
	.svg-common();
	background-position: 82.5% 48%;
}

.icon-arrow-vertical-dims {
	width: 32px;
	height: 32px;
}

.icon-calendar {
	.svg-common();
	background-position: 85% 48%;
}

.icon-calendar-dims {
	width: 32px;
	height: 32px;
}

.icon-cloud {
	.svg-common();
	background-position: 87.5% 48%;
}

.icon-cloud-dims {
	width: 32px;
	height: 32px;
}

.icon-cloud-download {
	.svg-common();
	background-position: 82.5% 44%;
}

.icon-cloud-download-dims {
	width: 32px;
	height: 32px;
}

.icon-copy {
	.svg-common();
	background-position: 85% 44%;
}

.icon-copy-dims {
	width: 32px;
	height: 32px;
}

.icon-duration {
	.svg-common();
	background-position: 87.5% 44%;
}

.icon-duration-dims {
	width: 32px;
	height: 32px;
}

.icon-edit {
	.svg-common();
	background-position: 90% 44%;
}

.icon-edit-dims {
	width: 32px;
	height: 32px;
}

.icon-extractor {
	.svg-common();
	background-position: 92.5% 44%;
}

.icon-extractor-dims {
	width: 32px;
	height: 32px;
}

.icon-extractor-to {
	.svg-common();
	background-position: 95% 44%;
}

.icon-extractor-to-dims {
	width: 32px;
	height: 32px;
}

.icon-help {
	.svg-common();
	background-position: 97.5% 44%;
}

.icon-help-dims {
	width: 32px;
	height: 32px;
}

.icon-icon-sprite--spriteeeeeee {
	.svg-common();
	background-position: 100% 0;
}

.icon-icon-sprite--spriteeeeeee-dims {
	width: 0px;
	height: 0px;
}

.icon-icon-sprite--spriteeeeeee-1046dc11 {
	.svg-common();
	background-position: 100% 0;
}

.icon-icon-sprite--spriteeeeeee-1046dc11-dims {
	width: 512px;
	height: 352px;
}

.icon-icon-sprite--spriteeeeeee-1749ef90 {
	.svg-common();
	background-position: 73.52941176470588% 55%;
}

.icon-icon-sprite--spriteeeeeee-1749ef90-dims {
	width: 224px;
	height: 192px;
}

.icon-icon-sprite--spriteeeeeee-8ce53c51 {
	.svg-common();
	background-position: 0 100%;
}

.icon-icon-sprite--spriteeeeeee-8ce53c51-dims {
	width: 288px;
	height: 288px;
}

.icon-icon-sprite--spriteeeeeee-d2c1fefd {
	.svg-common();
	background-position: 0 0;
}

.icon-icon-sprite--spriteeeeeee-d2c1fefd-dims {
	width: 800px;
	height: 544px;
}

.icon-jobs {
	.svg-common();
	background-position: 90% 48%;
}

.icon-jobs-dims {
	width: 32px;
	height: 32px;
}

.icon-keboola {
	.svg-common();
	background-position: 92.5% 48%;
}

.icon-keboola-dims {
	width: 32px;
	height: 32px;
}

.icon-mapping-in {
	.svg-common();
	background-position: 95% 48%;
}

.icon-mapping-in-dims {
	width: 32px;
	height: 32px;
}

.icon-mapping-out {
	.svg-common();
	background-position: 97.5% 48%;
}

.icon-mapping-out-dims {
	width: 32px;
	height: 32px;
}

.icon-minus {
	.svg-common();
	background-position: 100% 48%;
}

.icon-minus-dims {
	width: 32px;
	height: 32px;
}

.icon-notification {
	.svg-common();
	background-position: 80% 44%;
}

.icon-notification-dims {
	width: 32px;
	height: 32px;
}

.icon-options {
	.svg-common();
	background-position: 82.5% 52%;
}

.icon-options-dims {
	width: 32px;
	height: 32px;
}

.icon-orchestration {
	.svg-common();
	background-position: 85% 52%;
}

.icon-orchestration-dims {
	width: 32px;
	height: 32px;
}

.icon-overview {
	.svg-common();
	background-position: 87.5% 52%;
}

.icon-overview-dims {
	width: 32px;
	height: 32px;
}

.icon-plus {
	.svg-common();
	background-position: 90% 52%;
}

.icon-plus-dims {
	width: 32px;
	height: 32px;
}

.icon-refresh {
	.svg-common();
	background-position: 92.5% 52%;
}

.icon-refresh-dims {
	width: 32px;
	height: 32px;
}

.icon-reset {
	.svg-common();
	background-position: 95% 52%;
}

.icon-reset-dims {
	width: 32px;
	height: 32px;
}

.icon-run {
	.svg-common();
	background-position: 97.5% 52%;
}

.icon-run-dims {
	width: 32px;
	height: 32px;
}

.icon-sandbox {
	.svg-common();
	background-position: 100% 52%;
}

.icon-sandbox-dims {
	width: 32px;
	height: 32px;
}

.icon-search {
	.svg-common();
	background-position: 80% 56%;
}

.icon-search-dims {
	width: 32px;
	height: 32px;
}

.icon-sql-dep {
	.svg-common();
	background-position: 82.5% 56%;
}

.icon-sql-dep-dims {
	width: 32px;
	height: 32px;
}

.icon-storage {
	.svg-common();
	background-position: 85% 56%;
}

.icon-storage-dims {
	width: 32px;
	height: 32px;
}

.icon-support-by {
	.svg-common();
	background-position: 87.5% 56%;
}

.icon-support-by-dims {
	width: 32px;
	height: 32px;
}

.icon-support-chat {
	.svg-common();
	background-position: 90% 56%;
}

.icon-support-chat-dims {
	width: 32px;
	height: 32px;
}

.icon-switch-off {
	.svg-common();
	background-position: 92.5% 56%;
}

.icon-switch-off-dims {
	width: 32px;
	height: 32px;
}

.icon-switch-on {
	.svg-common();
	background-position: 95% 56%;
}

.icon-switch-on-dims {
	width: 32px;
	height: 32px;
}

.icon-transformation {
	.svg-common();
	background-position: 97.5% 56%;
}

.icon-transformation-dims {
	width: 32px;
	height: 32px;
}

.icon-transformation-2 {
	.svg-common();
	background-position: 100% 56%;
}

.icon-transformation-2-dims {
	width: 32px;
	height: 32px;
}

.icon-transformation-overview {
	.svg-common();
	background-position: 80% 60%;
}

.icon-transformation-overview-dims {
	width: 32px;
	height: 32px;
}

.icon-trash {
	.svg-common();
	background-position: 82.5% 60%;
}

.icon-trash-dims {
	width: 32px;
	height: 32px;
}

.icon-user {
	.svg-common();
	background-position: 100% 44%;
}

.icon-user-dims {
	width: 32px;
	height: 32px;
}

.icon-writer {
	.svg-common();
	background-position: 85% 60%;
}

.icon-writer-dims {
	width: 32px;
	height: 32px;
}

