@screen-sm: 868px;
@screen-md: 1092px;
@screen-lg: 1300px;
@container-sm: 850px;
@container-md: 1070px;
@container-lg: 1270px;

@gray-base: #151515;
@gray-dark: #272837;
@gray-light: #C8CAD9;
@brand-primary: #228DFF;
@brand-primary-light: #DAECFF;
@brand-success: #07BE07;
@brand-success-light: #E0FDE0;
@brand-info: #905BFF;
@brand-info-light: #E9DEFF;
@brand-warning: #FFD913;
@brand-warning-light: #FFEFB8;
@brand-danger: #EC001D;
@brand-danger-light: #FDE6E8;

@input-bg: #F7F7F9;
@input-bg-disabled: darken(@input-bg, 10%);
@box-shadow: 0px 2px 6px rgba(100, 135, 153, 0.13);

@font-family-sans-serif: "Roboto", sans-serif;
@text-color: @gray-dark;
@link-color: @brand-primary;
@link-hover-color: darken(@link-color, 15%);

@border-radius: 4px;
@border-radius-large: 8px;

@state-success-text: @brand-success;
@state-success-bg: @brand-success-light;
@state-success-border: @brand-success;

@state-info-text: @brand-primary;
@state-info-bg: @brand-primary-light;
@state-info-border: @brand-primary;

@state-warning-text: darken(@brand-warning, 7%);
@state-warning-bg: @brand-warning-light;
@state-warning-border: @brand-warning;

@state-danger-text: @brand-danger;
@state-danger-bg: @brand-danger-light;
@state-danger-border: @brand-danger;

@padding-base-vertical: 10px;
@padding-base-horizontal: 12px;

@table-cell-padding: 16px 12px;
@table-border-color: transparent;
@table-bg: #fff;
@table-bg-hover: @input-bg;

@alert-padding: 15px 16px;

@input-color: @text-color;
@input-border: transparent;
@input-height-base: 40px;

@modal-title-padding: 13px 12px 21px 12px;
@modal-inner-padding: 18px 12px 0px 12px;
@modal-header-border-color: #e6e6e7;
