@new-ui-primary: #228dff;
@new-ui-danger: #ec001d;
@new-ui-danger-light: #fabfc7;
@new-ui-grey: #a2a2a6;
@new-ui-greyer: #7f8198;
@new-ui-black: #333333;
@new-ui-white: #ffffff;
@new-ui-border: #e6e6e7;

body.new-ui {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  min-height: 100%;

  @import 'buttons';
  @import 'login';
  @import 'current-user';
  @import 'projects-list';
}
