@screen-sm: 868px;
@screen-md: 1092px;
@screen-lg: 1300px;
@container-sm: 850px;
@container-md: 1070px;
@container-lg: 1270px;

@new-ui-primary: #228dff;
@new-ui-primary-light: #daecff;
@new-ui-success: #07be07;
@new-ui-success-light: #e0fde0;
@new-ui-warning: #ffd913;
@new-ui-warning-light: #ffefB8;
@new-ui-danger: #ec001d;
@new-ui-danger-light: #fabfc7;
@new-ui-danger-lighter: #fde6e8;
@new-ui-grey: #a2a2a6;
@new-ui-greyer: #7f8198;
@new-ui-black: #333333;
@new-ui-white: #ffffff;
@new-ui-border: #e6e6e7;
@new-ui-border-ligth: rgba(162, 165, 169, 0.15);
@new-ui-shadow: rgba(86, 86, 90, 0.05);
@new-ui-text-grey: #ababad;
@new-ui-svg-hover: #272837;

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  min-height: 100%;

  @import 'helpers';

  &.new-ui,
  &.new-ui-menu {
    padding: 0;
  }

  &.new-ui {
    @import 'buttons';
    @import 'login';
    @import 'alerts';
    @import 'modal';
    @import 'current-user';
    @import 'projects-list';
  }

  &.new-ui-menu {
    padding-bottom: 30px;

    @import 'main';
    @import 'header';
    @import 'breadcrumb';
    @import 'project-select-results';
  }
}
