.kbc-project-select {
  .no-project-found {
    font-size: 14px;
    margin-top: 15px;
  }

  .kbc-project-select-results,
  .kbc-project-select-new {
    margin-top: 15px;

    li {
      a,
      span {
        display: block;
        font-size: 14px;
        color: @new-ui-black;
        padding: 6px 0px;
        text-decoration: none;

        &.organization {
          margin-top: 5px;
          font-size: 12px;
          font-weight: 400;
          color: #98a2b6;
        }

        &:not(.disabled):hover,
        &:not(.disabled):focus {
          color: @new-ui-primary;
        }

        &.disabled {
          cursor: not-allowed;
        }
      }
    }
  }
}