.inline-edit-input {
  display: inline;

  &-form {
    display: inline;
    position: relative;
  }

  &-buttons {
    position: absolute;
    right: 4px;
    top: -3px;

    .fa-spin {
      position: absolute;
      top: 5px;
      right: -30px;
    }
  }

  &-cancel {
    padding: 0 5px 0 5px;
    font-size: 16px;
    color: #e1e1e9;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      color: darken(#e1e1e9, 20%);
    }
  }

  &-submit {
    padding: 5px 10px;
  }

  &-link {
    display: inline-block;
    padding: 11px 15px 11px;
    border-radius: 4px;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
      background-color: #e9faff;

      .fa-edit {
        opacity: 1;
      }
    }

    .fa-edit {
      opacity: 0.3;
    }
  }

  &-control {
    display: inline-block;
    width: auto;
    padding: 6px 80px 6px 12px;

    &:disabled {
      border-color: @input-border;
    }
  }
}