.searchbar {
  display: flex;
  flex-flow: row;
  align-items: center;

  .searchbar-form {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1;
  }

  .searchbar-input {
    font-size: 11px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: @letter-spacing-wider;
    color: @text-color-gray;
    padding: 12px 40px 10px 34px;
    width: 100%;
  }

  .searchbar-actions {
    display: flex;
    flex-flow: row;
    align-items: center;
    & > * {
      margin-left: 8px;
    }
  }

  .searchbar-clear-btn {
    display: flex;
    position: absolute;
    right: 0px;

    &:hover,
    &:focus {
      text-decoration: none;

      .fa-times {
        color: inherit;
      }
    }

    .fa-times {
      color: @text-color-gray;
      width: 12px;
      height: 12px;
    }
  }

  .fa-search {
    position: absolute;
    left: 10px;
    color: @text-color-gray;
    width: 16px;
    height: 16px;
  }
}