.make-spacing-classes(@n, @i: 0) when (@i =< @n) {
  @base: 1em;

  .m-@{n} {
    margin: @n * @base !important;
  }
  .mt-@{n} {
    margin-top: @n * @base !important;
  }
  .mr-@{n} {
    margin-right: @n * @base !important;
  }
  .mb-@{n} {
    margin-bottom: @n * @base !important;
  }
  .ml-@{n} {
    margin-left: @n * @base !important;
  }
  .mx-@{n} {
    margin-left: @n * @base !important;
    margin-right: @n * @base !important;
  }
  .my-@{n} {
    margin-top: @n * @base !important;
    margin-bottom: @n * @base !important;
  }

  .p-@{n} {
    padding: @n * @base !important;
  }
  .pt-@{n} {
    padding-top: @n * @base !important;
  }
  .pr-@{n} {
    padding-right: @n * @base !important;
  }
  .pb-@{n} {
    padding-bottom: @n * @base !important;
  }
  .pl-@{n} {
    padding-left: @n * @base !important;
  }
  .px-@{n} {
    padding-left: @n * @base !important;
    padding-right: @n * @base !important;
  }
  .py-@{n} {
    padding-top: @n * @base !important;
    padding-bottom: @n * @base !important;
  }

  .make-spacing-classes(@n - 1);
}

.make-spacing-classes(2);