@import '../indigo/less/indigo';

//STORYBOOK STYLEGUIDE SPECIFIC STYLES INSIDE RENDER CANVAS
//IF YOU WANT TO USE STORYBOOK STYLES FOR BASIC APP LAYOUT .storybook\manager-head.html

body {
  padding: 0 30px 30px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #fff;
}

//h1,h2,h3,h4,h5,h6{
//  font-family: "Gotham Rounded A", "Gotham Rounded B";
  //IMPORTED IN preview-head.html
//}

#root > div > div:nth-child(2) {
  padding: 16px;
  border: 1px solid rgb(220, 220, 220);
  border-top: 0;

  background-color: rgba(0, 0, 0, 0.05);
  background-image: repeating-linear-gradient(0deg, transparent, transparent 7px, rgba(0, 0, 0, 0.2) 1px, transparent 8px), repeating-linear-gradient(90deg, transparent, transparent 7px, rgba(0, 0, 0, 0.2) 1px, transparent 8px);
  background-size: 8px 8px;
}

.indigo {
  &-heading {

  }

  &-description {
    color: @gray;
    font-size: @font-size-small;
  }

  &-layout {
    &-col {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      > div {
        width: 33%;
        > div {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          margin: 20px 0;
        }
      }
    }

    &-grid {
      display: flex;
      flex-flow: row;
      justify-content: space-around;
      flex-wrap: wrap;

      > div {
        width: 50px;
        padding: 0 10px;
      }
    }
  }

  &-logo {
    padding: 20px;
    margin: 50px 10px 10px 10px;

    &-dark-bg {
      background: @CIDcolor2;
    }
  }
}

.palette {
  &-label {
    padding: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  &-color {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &-color-1 {
    background: @CIDcolor1;
  }
  &-color-2 {
    background: @CIDcolor2;
    color: #fff
  }
  &-color-3 {
    background: @CIDcolor3;
  }
  &-color-4 {
    background: @CIDcolor4;
  }
  &-color-5 {
    background: @CIDcolor5;
  }
  &-color-6 {
    background: @CIDcolor6;
  }
  &-color-7 {
    background: @CIDcolor7;
  }
  &-color-8 {
    background: @CIDcolor8;
  }
  &-color-9 {
    background: @CIDcolor9;
  }
  &-color-10 {
    background: @CIDcolor10;
  }
  &-color-11 {
    background: @CIDcolor11;
  }
  &-color-12 {
    background: @CIDcolor12;
  }
  &-color-13 {
    background: @CIDcolor13;
  }
  &-color-14 {
    background: @CIDcolor14;
  }
  &-color-15 {
    background: @CIDcolor15;
  }
  &-color-16 {
    background: @CIDcolor16;
  }
  &-color-17 {
    background: @CIDcolor17;
    color: #ffffff;
  }
  &-color-18 {
    background: @CIDcolor18;
    color: #ffffff;
  }
  &-color-19 {
    background: @CIDcolor19;
    color: #ffffff;
  }
  &-color-20 {
    background: @CIDcolor20;
    color: #ffffff;
  }
}

.typography {
  &-style-1 {
    font-style: normal;
    font-weight: 400;
  }
  &-style-2 {
    font-style: italic;
    font-weight: 400;
  }
  &-style-3 {
    font-style: normal;
    font-weight: 700;
  }
  &-style-4 {
    font-style: italic;
    font-weight: 700;
  }
}