.alert a {
    text-decoration: underline;
    font-weight: 400;
}

.alert-success a {
    color: @alert-success-text;
}
.alert-info a {
    color: @alert-info-text;
}
.alert-warning a {
    color: @alert-warning-text;
}
.alert-danger a {
    color: @alert-danger-text;
}

.kbc-main > .alert,
.kbc-main > div > .alert {
    margin: 20px;
}
